header {
    color: #fff;
    height: 112px;
    line-height: 112px;
}

header a.logo {
    float: left;
}

header nav {
    float: right;
    font-weight: bold;
}


header nav ul li  {
    padding-left: 30px;
}

header nav ul li a {
    color: #fff;
    transition: all 0.3 ease-in;
}

header nav ul li a:hover, header nav ul li a:focus {
    color: #e74c3c;
    text-decoration: none;
}
